<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>{% block title %} {% endblock %}</title>
    <link rel="icon" href="{{ url_for('static', filename='mini-logo.png') }}" type="image/png">
</head>

<body>
    <div class="d-flex flex-column" style="height: 60%;">
        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark px-4">
            <a class="navbar-brand fw-bold" href="{{ url_for('marketplace')}}">
                <img class="rounded" src="{{ url_for('static', filename='site-logo.png') }}" alt="Site Logo" style="height: 80px;">
            </a>
            <!-- Right-side nav items (user-specific or login) -->
                <ul class="navbar-nav ml-auto">
                    {% if current_user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link text-white" href="{{ url_for('get_messages') }}" {% if current_user.check_messages() %}style="background-color: red;" {% endif %}>
                            Messages
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="{{ url_for('profile') }}">Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="{{ url_for('logout') }}">Logout</a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link text-white" href="{{ url_for('login') }}">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="{{ url_for('register') }}">Register</a>
                    </li>
                    {% endif %}
                </ul>
        </nav>

        <!-- Main content -->
        <div class="flex-grow-1 d-flex flex-column justify-content-center align-items-center text-center text-white px-3">
            {% block content %}
            {% endblock %}
        </div>

        <!-- Flash Messages -->
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div class="alert alert-info mt-4">
            {% for message in messages %}
            <p>{{ message }}</p>
            {% endfor %}
        </div>
        {% endif %}
        {% endwith %}
    </div>

    <!-- Footer -->
    <footer class="text-center text-white py-3 my-5">
        <span class="mx-1">
            <a href="https://linkedin.com/in/christoph-brandstötter"><img style="height: 40px;" src="{{ url_for('static', filename='linkedin-logo.svg') }}" alt=""></a>
        </span>
        <span class="mx-1">
            <a href="https://github.com/cbrandstoetter"><img style="height: 40px;" src="{{ url_for('static', filename='github-logo.svg') }}" alt=""></a>
        </span>
        <span class="mx-3">
            <a href="https://github.com/cbrandstoetter/marketplace">Find the documentation for this project here!</a>
        </span>

        <div>
            <a href="{{ url_for('about') }}" class="text-warning">About</a>
        </div>
    </footer>

<!-- jQuery 3.2.1 slim -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>

<!-- Popper.js 1.12.9 -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>

<!-- Bootstrap 4.3.1 -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    {% block scripts %}
    {% endblock %}
</body>

</html>
