{% extends 'base.html' %}

{% block title %} 
{{ listing.name }}
{% endblock %}

{% block content %}
    <div class="container mt-5">
        <div class="row">
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        {% if listing.image %}
                            <img src="{{ url_for('static', filename=listing.image) }}" class="card-img-top" alt="{{ listing.name }}">
                        {% else %}
                            <img src="{{ url_for('static', filename='default_listings_image.png') }}" class="card-img-top" alt="Default Image">
                        {% endif %}
                        <div class="card-body">
                            <h5 class="card-title">{{ listing.name }}</h5>
                            <p class="card-text">{{ listing.description }}</p>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">Category: {{ listing.category }}</li>
                                <li class="list-group-item">Price: {{ listing.price }}€</li>
                                <li class="list-group-item">Created on: {{ listing.created }}</li>
                                <li class="list-group-item">
                                    <p>
                                        Posted by: {{ listing.user_name }} 
                                    </p>
                                    <p>
                                        <button id="message-button" style="border-radius:5px;background-color:blue;color:white;">send message</button>
                                    </p>
                                </li>
                            </ul>
                            <div class="card-footer text-muted">
                                Listing ID: {{ listing.id }}
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>
    
    <script>
        // selects message-button, calls send-message in flask with the current listing id 
        console.log('hallo')
        document.getElementById('message-button').addEventListener('click', function() {
            console.log('button was clicked!');
            window.location.href = `{{url_for('send_message', id=listing.id)}}`;
        });
    </script>
{% endblock %}