{% extends 'base.html' %}

{% block title %} 
Listings
{% endblock %}

{% block content %}

<div class="listing-container">
    {% for listing in listings %}
        <a href="{{ url_for('get_listing', id=listing.id) }}" style="text-decoration:none;width:100%">
            <div class="listing-box">
                <img src="{{ url_for('static', filename=listing.image if listing.image else 'default_listings_iamge.png') }}" alt="{{ listing.name }}" class="listing-image">
                <div class="listing-details">
                    <h3 class="listing-name">{{ listing.name }}</h3>
                    <div class="listing-price">{{ listing.price }}€</div>
                </div>
            </div>            
        </a>
    {% endfor %}
</div>


{% endblock %}
