{% extends 'base.html' %}

{% block title %} 
    {{ user.username }}
{% endblock %}


{% block content %}
<div class="listing-container">
        {% for listing in listings %}
        <div style="display:flex;flex-direction: row;align-items: center;">
            <div class="listing-box">
                <img src="{{ url_for('static', filename=listing.image if listing.image else 'default-image.jpg') }}" alt="{{ listing.name }}" class="listing-image">
                <div class="listing-details">
                    <h3 class="listing-name">{{ listing.name }}</h3>
                    <div class="listing-price">{{ listing.price }}€</div>
                </div>
            </div>
            <form method="POST" style="display:flex;flex-direction: column;">
                <div class="listing-buttons">
                    <button type="submit" value={{listing.id}} name="edit">edit listing</button>
                </div>                
                <div class="listing-buttons">
                    <button type="submit" value={{listing.id}} name="delete" style="background-color: red; color:white">delete listing</button>
                </div>                
            </form>
        </div>
        {% endfor %}
</div>

<!-- Flash Messages -->
{% with messages = get_flashed_messages() %}
    {% if messages %}
        <div class="alert alert-info mt-4">
            {% for message in messages %}
                <p>{{ message }}</p>
            {% endfor %}
        </div>
    {% endif %}
{% endwith %}

{% endblock %}
