{% extends 'base.html' %}

{% block title %} 
    {{ user.username }}
{% endblock %}


{% block content %}
<div class="listing-container">
    <ul>
        {% for listing in listings %}
        <li class="listing">
            <div class="listing-box">
                <img src="{{ url_for('static', filename=listing.image if listing.image else 'default-image.jpg') }}" alt="{{ listing.name }}" class="listing-image">
                <div class="listing-details">
                    <h3 class="listing-name">{{ listing.name }}</h3>
                    <div class="listing-price">{{ listing.price }}</div>
                </div>
            </div>
        </li>
        <form method="POST">
            <button type="submit" value={{listing.id}} name="delete">delete listing</button>
        </form>
        <form method="POST" name="edit">
            <button type="submit" value={{listing.id}} name="edit">edit listing</button>
        </form>

        {% endfor %}
    </ul>
</div>

<!-- Flash Messages -->
{% with messages = get_flashed_messages() %}
    {% if messages %}
        <div class="alert alert-info mt-4">
            {% for message in messages %}
                <p>{{ message }}</p>
            {% endfor %}
        </div>
    {% endif %}
{% endwith %}
{% endblock %}
