{% extends 'base.html' %}

{% block title %}
Send Message
{% endblock %}

{% block content %}

<!-- Flash Messages -->
{% with messages = get_flashed_messages() %}
{% if messages %}
<div class="alert alert-info mt-4">
    {% for message in messages %}
    <p>{{ message }}</p>
    {% endfor %}
</div>
{% endif %}
{% endwith %}

<div class="container mt-5" style="color:black">
    <ul class="list-group list-group-flush">
        <li class="list-group-item">{{ listing.name }}</li>
        <li class="list-group-item">
            <form class="form" method="POST">
                <input type="text" id="message" name="message" required style="height:200px;">
                <button type="submit">send message</button>
            </form>
        </li>
    </ul>
</div>

{% endblock %}